.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}
.brand-detail {
	font-weight:300;
	font-size:1.5rem;
}
.toolbar-item {
	font-weight:300;
	font-size:1rem;
	padding-left: 0.5rem;
}
.menu-item {
	font-weight:300;
	font-size:0.8rem;
}

.user {
	font-weight: bold;
	font-size:0.8rem;
	color: #f8846d;
	padding-left:0.5rem;
}
.user-dropdown {
	font-weight: bold;
	font-size:0.8rem;
	color: #f8846d;
	padding-left:16px;
	padding-bottom : 0.5rem;
}