/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14pt;
}

h1 {
  text-align: center;
}


.mat-raised-button.mat-primary{
	background-color: #84cec0;
	color: black;
	font-weight:300;
	font-size: 1rem;
}
